@import 'material-colors/dist/colors.var.css';

/* material components */
@import '@material/button/dist/mdc.button.css';
@import '@material/card/dist/mdc.card.css';
@import '@material/dialog/dist/mdc.dialog.css';
@import '@material/drawer/dist/mdc.drawer.css';
@import '@material/icon-button/dist/mdc.icon-button.css';
@import '@material/list/dist/mdc.list.css';
@import '@material/snackbar/dist/mdc.snackbar.css';
@import '@material/top-app-bar/dist/mdc.top-app-bar.css';
@import '@material/typography/dist/mdc.typography.css';

/* RMWC addons */
@import '@rmwc/avatar/avatar.css';
@import '@rmwc/data-table/data-table.css';
@import '@rmwc/icon/icon.css';

@import 'reset';
@import 'mdc-overrides';

html,
body,
#root {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.material-icons {
  user-select: none;
}
