.leadsList {
  width: 100%;
  height: 100%;
  position: relative;

  & .leadsTable {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;

    & .calledLeadRow {
      color: var(--mdc-theme-text-disabled-on-light);
    }
  }
}
