.leadsList {
  position: relative;
  margin: 24px;
  & .leadsTable {
    overflow: auto;
    position: relative;
    background: rgba(0,0,0,0);
    & .leadRow {
    }
    & .calledLeadRow {
      color: var(--mdc-theme-text-disabled-on-light);
    }
  }
}
