.leadsList {
  position: relative;
  margin: 16px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
  & .leadsTable {
    overflow: auto;
    position: relative;
    background: rgba(0,0,0,0);
    & .leadRow {
    }
    & .calledLeadRow {
      color: var(--mdc-theme-text-disabled-on-light);
    }
  }
}
